// Testing 123

/* Imports */

@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);

/* Mixins & variables */

// Breakpoint mixins

// Use these by including the breakpoint mixin:

// @include breakpoint(breakpointname) {
// 	Styles here
// }

@mixin breakpoint($point) {
	@if $point == small {
		@media only screen and (max-width : 719px) { @content ; }
	}
	@else if $point == medium {
		@media only screen and (min-width : 720px) { @content ; }
	}
	@else if $point == large {
		@media only screen and (min-width : 1000px) { @content ; }
	}
}

// Layout tools

@mixin vertical-align {
  position: relative;
  top: 50%;
  -webkit-transform: translateY(-50%);
  -ms-transform: translateY(-50%);
  transform: translateY(-50%);
}

@mixin vertical-reset {
  position: relative;
  top: 0%;
  -webkit-transform: translateY(-0%);
  -ms-transform: translateY(-0%);
  transform: translateY(-0%);
}

@mixin horizontal-align {
  position: relative;
  left: 50%;
  -webkit-transform: translateX(-50%);
  -ms-transform: translateX(-50%);
  transform: translateX(-50%);
}

@mixin clearfix {
  &:after {
    content: "";
    display: table;
    clear: both;
  }
}


// Colours

/******

I've added both Roboto & Lato 
to the theme via functions.php file. 

******/		

@mixin sans-l {
  font-family: Arial, sans-serif;
  font-weight: 300;
}

@mixin sans-r {
  font-family: Arial, sans-serif;
  font-weight: 400;
}

@mixin sans-b {
  font-family: Arial, sans-serif;
  font-weight: 700;
}


* {
  margin: 0;
  padding: 0;
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;   
  box-sizing: border-box;  
}

html {
	font-size: 16px;
}

/* Sections */

section {
	position: relative;
	padding: 5rem 0;
}

.section__fullHeight {
	min-height: 100vh;
}

.section__flex {
	display: flex;
	align-items: center;
	justify-content: center;
	flex-direction: row;
}

.section__hero {
	min-height: 80vh;
}

// Colour modifiers


/* Content sections */


/* Footer */

.footer {
	// height: 150px;
	background-color: #333;
	display: inline-block;
	padding: 2rem 1rem;
	flex-direction: row;
	overflow: auto;
	width: 100%;

	@include breakpoint(large) {
		flex-direction: column;
		padding: 0 5%;
	}

}

.footer--innerContainer {
	width: 100%;
	padding: 1.5rem 1rem;
	overflow: auto;

	@include breakpoint(medium) {
		width: 33.33%;
		padding: 6rem 1rem;
		float: left;

		&:last-of-type {
			padding-bottom: 0;
		}
	}
}

.footer--footerTitle {
	width: 100%;
}

.footer--footerTitle:after {
	
}

.footer--footerTitle--title {
	@include sans-b;
	display: inline-block;
	position: relative;	
	font-size: 1rem;
	text-transform: uppercase;
	margin-bottom: 2rem;
	opacity: 0.5;
	color: #fafafa;
}
.footer--footerTitle--title:after {
	top: 120%;
	left: 0;
	width: 100%;
	height: 2px;
	background: #fafafa;
	opacity: 0.5;
	content: '';
	position: absolute;
}	

.footer--footerCopy {
	display: block;
	margin-bottom: 1.5rem;
	line-height: 1.4em;
	width: 80%;
	@include sans-r;
	color: #fafafa;
	font-size: 1rem;

}

.footer--socialLinks {
	transform: translateY(-0.5rem);
}

.footer--socialLinks--item {
	float: left;
}

.socialIcon {
	color: #fafafa;
	margin-right: 1rem;
	font-size: 1.5rem;
	position: relative;
	overflow: auto;
	float: left;
	transform: translateY(0);
	transition: all 0.2s ease-in-out;

	&:visited, &:active {
		color: #fafafa;
	}

	&:hover {
		transform: translateY(-5px);
	}

}

// Footer email signup form

#mc4wp-form-1 {
	margin: 0;
}

.footer--emailSignup {
	@include sans-r;

	& .mc4wp-form input {
		display: inline-block;
		float: left;
		font-size: 0.8rem;
	}

	& .mc4wp-form input[type=email] {
		@include sans-r;
		// font-size: 1rem;
		background: #fafafa;
		border: none;
		border-radius: 0.5rem 0 0 0.5rem;
		width: 70%;
		padding: 0.8rem 1rem;

		@include breakpoint(large) {
			max-width: 200px;
		}
	}

	& .mc4wp-form input[type=submit] {
		@include sans-r;
		color: #fafafa;
		// font-size: 1rem;
		//background: $green;
		border: none;
		border-radius: 0 0.5rem 0.5rem 0;
		width: 30%;
		padding: 0.8rem 1rem;
		transition: all 0.2s ease-in-out;

		@include breakpoint(large) {
			max-width: 90px;
		}
	}

	& .mc4wp-form input[type=submit]:hover {
		//background: darken( $green, 10% );
	}
}

// Footer contact

.footerContact {
	margin-left: 2rem;
}

.footerContact--item {
	width: 100%;
	padding-bottom: 0.8rem;
	@include sans-r;
	color: #fafafa;
	font-size: 1rem;
}

.footerContact--item--link {
	color: #fafafa;
	position: relative;

	&:after {
		position: absolute;
		top: 100%;
		left: 0;
		width: 100%;
		height: 1px;
		background: #fafafa;
		content: '';
		opacity: 0;
		transition: height 0.3s, opacity 0.3s, transform 0.3s;
		transform: translateY(10px);
	}

	&:hover:after {
		height: 2px;
		opacity: 1;
		transform: translateY(2px);
	}
}

// 


// 

.footerContact--item__phone, .footerContact--item__email, .footerContact--item__address {
	&:before {
		transform: translateX(-50%);
		margin-left: -1.5rem;
		opacity: 0.5;
		color: #fafafa;
		
	}
}

.footerContact--item__phone {
	&:before {
		content: "\f095";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}
}

.footerContact--item__email {
	&:before {
		content: "\f0e0";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}
}

.footerContact--item__address {
	&:before {
		content: "\f041";
		font-family: "FontAwesome";
		font-size: 1rem;
		position: absolute;
	}	
}

/* Typography */

h1, h2, h3 {
	text-align: center;
	@include sans-b;
	display: inline-block;
	position: relative;
}

h2 {
	text-transform: uppercase;
	font-size: 1.5rem;
	color: #ffffff;
}

.pageHeader {
	font-size: 3rem;
}

.pageHeader--image {
	@include breakpoint(medium) {
		width: 500px;
	}

	width: 230px;
	opacity: 0.6;
	-webkit-animation-duration: 3s;
}

h3 {
	font-size: 1rem;
}

p {
	// padding: 0.5rem 1rem;
	@include sans-r;
	line-height: 1.3rem;
}


/* Header & navigation */

header {
	width: 100%;
	padding: 0.8rem 3rem;
	z-index: 9999;
	top: 0;
	position: fixed;
	background-color: #fafafa;
}

h1 {
	float: left;
	width: auto;

	& img {
		margin-left: 0;
		width: 100px;
	}

	@include breakpoint(small) {
		margin-left: 1rem;
		margin-top: 0.2rem;
	}
}

nav {
	float: right;
	margin-top: 0.5rem;
	display: none;
	transition: all 0.4s ease-in-out;

	@include breakpoint(large) {
		display: block;
	}
}

nav li {
	float: left;
	margin-left: 2rem;
}

nav li a {
	@include sans-r;
	font-size: 1rem;
	//color: $green;
	position: relative;
	opacity: 0.6;
	transition: all 0.3s;
}

nav li a:after {
	position: absolute;
	top: 100%;
	left: 0;
	width: 100%;
	height: 1px;
	//background: $green;
	content: '';
	opacity: 0;
	transition: height 0.3s, opacity 0.3s, transform 0.3s;
	transform: translateY(10px);
}

nav li a:hover {
	opacity: 1;
}

nav li a:hover:after {
	height: 2px;
	opacity: 1;
	transform: translateY(2px);
}

// Burger buttons

.nav-button {
	position: fixed;
	z-index: 99999;
	//color: $green;
	top: 1.2rem;
	left: 1.2rem;

	&:hover {
		cursor: pointer;
	}

	@include breakpoint(medium) {	// not sure if this will work..
		display: none;
		visibility: hidden;
	}
}


/* Burger and animation class */

a.burger-link {
	z-index: 9999;
	position: fixed;
}

a.burger-link:hover {
	cursor: pointer;
}

a.burger-link i {
  position: relative;
  display: inline-block;
  width: 24px;
  height: 3px;
  color: #000;
  font-size: 1.3em;
  line-height: 0.2em;
  font-family: 'Source Sans Pro';
  font-weight: 600;
  text-indent: 32px;
  //background: $green;
  transition: all 0.4s ease-in-out;
}

a.burger-link i::before, a.burger-link i::after {
	content:'';
	width: 24px;
	height: 3px;
	//background: $green;
	position: absolute;
	left:0;
	transition: all 0.4s ease-in-out;
}

a.burger-link i::before {
  top: -8px;
}

a.burger-link i::after {
  bottom: -8px;
}

a.burger-link.active i {
  background: rgba(62, 192, 98, 0);
}

a.burger-link.active i::before {
  top:0;
  -webkit-transform: rotateZ(405deg);
     -moz-transform: rotateZ(405deg);
      -ms-transform: rotateZ(405deg);
       -o-transform: rotateZ(405deg);
          transform: rotateZ(405deg);
}

a.burger-link.active i::after {
  bottom:0;
  -webkit-transform: rotateZ(-405deg);
     -moz-transform: rotateZ(-405deg);
      -ms-transform: rotateZ(-405deg);
       -o-transform: rotateZ(-405deg);
          transform: rotateZ(-405deg);
}

/* Mobile navigation */

#mobile-nav {
	width: 100%;
	position: fixed;
	top: 0;
	bottom: 0;
	left: 0;
	z-index: 999999;
	background-color: #ffffff;
	background-image: url(../img/nav-bg.png);
	background-repeat: no-repeat;
    background-position: left bottom; 
    transform: translateX(-100%);

	& a {
		display: block;
		//color: $green;
		padding: 0.5rem 0;
		float: left;

	}
}

#mobile-nav.active-mobile-nav {
	z-index: 999999;
	transform: translateX(0);
	// left: 0%;
}

#mobile-nav ul {
	margin-top: 20%;
	font-size: 1.5rem;
	@include sans-b;
	
	& li {
		float: left;
		display: block;
		width: 100%;

		& a {
			padding: 0.7rem 1rem;
		}
	}
}

/* Homepage */


/* Trade page */

.tradeContainer {
	width: 50%;
	float: left;

	@include breakpoint(small) {
		width: 100%;
		margin: 0 2rem;
		text-align: center; 
	}
}

.tradeContainer__left p {
	color: #ffffff;
	font-size: 1rem;
	line-height: 1.5rem;
	margin-right: 2rem;
	width: 400px;
	float: right;

	@include breakpoint(small) {
		width: 100%;
		margin-right: 0;
		text-align: center; 
		margin-bottom: 1rem;
	}
}

.tradeContactList {
	color: #ffffff;
	@include sans-b;
	font-size: 1rem;
	margin-bottom: 1.5rem;
	margin-left: 2rem;

	& li {
		margin-bottom: 0.5rem;
	}

	@include breakpoint(small) {
		margin-left: 0;
	}
}

.contactInfo {
	color: #ffffff;
	@include sans-r;
	font-size: 1rem;
	width: 300px;
	margin-bottom: 1.5rem;

	@include breakpoint(small) {
		width: 100%;
		text-align: center; 
	}
}

.contactForm {
	max-width: 400px;

	@include breakpoint(small) {
		margin: 0 auto;
	}
}


.wpcf7-form-control.wpcf7-text, .wpcf7-form-control.wpcf7-textarea  {
	@include sans-r;
	font-size: 0.8rem;
	background: #fafafa;
	border: none;
	width: 100%;
	padding: 0.8rem 1rem;
}

.name-field {
	border-radius: 0.5rem 0.5rem 0 0;
}

.wpcf7-email {
	border-radius: 0;
	border-top: 1px solid red;
	border-bottom: 1px solid red;
}

.wpcf7-form-control.wpcf7-textarea {
	border-radius: 0;
}

.wpcf7-form-control-wrap.your-message {
}

.wpcf7-submit {
	@include sans-r;
	color: #fafafa;
	font-size: 1rem;
	//background: $green;
	border: none;
	border-radius: 0 0 0.5rem 0.5rem;
	width: 100%;
	padding: 0.8rem 1rem;
	transition: all 0.2s ease-in-out;
	margin-top: -5px;

	&:hover {
		//background: lighten( $green, 10% );
		cursor: pointer;
	}
}

.tradeContactList--item__phone, .tradeContactList--item__email, .tradeContactList--item__address {
	&:before {
		transform: translateX(-50%);
		margin-left: -1.5rem;
		opacity: 1;
		color: #fafafa;
		font-size: 1rem;

		@include breakpoint(small) {
			margin-left: -1rem;
		}
	}
}

.tradeContactList--item__phone {
	&:before {
		content: "\f095";
		font-family: "FontAwesome";
		position: absolute;
	}
}

.tradeContactList--item__email {
	&:before {
		content: "\f0e0";
		font-family: "FontAwesome";
		position: absolute;
	}
}

.tradeContactList--item__address {
	&:before {
		content: "\f041";
		font-family: "FontAwesome";
		position: absolute;
	}	
}	