/* Imports */
/* Mixins & variables */
@import url(http://fonts.googleapis.com/css?family=Montserrat:400,700);
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

body {
  font-family: "Montserrat", Arial;
  font-size: 16px; }

h1 {
  font-size: 3rem;
  text-align: center; }

.main {
  position: relative;
  height: 100vh;
  background: #333333; }

.audio-dock {
  position: relative;
  width: 20%;
  height: 100%;
  float: left; }

.audio-dock-cell {
  height: 25vh; }

.audio-target-container {
  position: relative;
  width: 60%;
  height: 100%;
  float: left;
  background: yellow; }
  .audio-target-container .audio-target {
    position: relative;
    left: 50%;
    -webkit-transform: translateX(-50%);
            transform: translateX(-50%);
    width: 80%;
    max-width: 600px;
    height: 80%;
    max-height: 600px;
    fill: #000032; }

.dock {
  display: block;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 255, 0.5); }

.audio-block {
  position: relative;
  width: 150px;
  height: 150px;
  top: 50%;
  left: 50%;
  -webkit-transform: translate(-50%, -50%);
          transform: translate(-50%, -50%);
  z-index: 999; }
  .audio-block .audio-block__svg {
    width: 80%;
    height: 80%; }

.audio-circle {
  width: 100%;
  height: 100%;
  border-radius: 50%;
  background: orange; }

.bass {
  background: #EF2D56; }

.ep {
  background: #2F52E0; }

.flutes1 {
  background: #61E8E1; }

.flutes2 {
  background: #ECC30B; }

.hiPanel1 {
  background: #00FFC5; }

.hiPanel2 {
  background: #9b59b6; }

.loFlute {
  background: #2ecc71; }

.loPad {
  background: #8e44ad; }

.target__image--dropped {
  background: yellow; }

#audio-target__circle {
  fill: #1F1F1F; }
