/* Imports */
/* Mixins & variables */
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box; }

html {
  font-size: 16px; }

.main {
  position: relative;
  height: 100vh; }

.dock {
  display: block;
  position: relative;
  float: left;
  width: 200px;
  height: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  background-color: rgba(0, 0, 255, 0.5); }

.item {
  position: relative;
  width: 100px;
  height: 100px;
  top: 50%;
  left: 50%;
  border-radius: 50%;
  background-color: rgba(255, 0, 0, 0.5);
  cursor: pointer;
  -webkit-transform: translateX(-50%) translateY(-50%);
          transform: translateX(-50%) translateY(-50%);
  z-index: 999; }

.target {
  display: block;
  position: relative;
  float: right;
  width: 200px;
  height: 200px;
  top: 50%;
  -webkit-transform: translateY(-50%);
          transform: translateY(-50%);
  z-index: -1;
  background-color: rgba(255, 255, 0, 0.5); }

.target__image {
  width: 200px;
  height: 200px; }

.target__image--dropped {
  background: yellow; }
